export AIRFLOW_VERSION=2.10.2
export PYTHON_VERSION=3.11
export CONSTRAINT_URL="https://raw.githubusercontent.com/apache/airflow/constraints-${AIRFLOW_VERSION}/constraints-${PYTHON_VERSION}.txt"
export AIRFLOW_HOME=$(pwd)
export AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:///$AIRFLOW_HOME/.config/airflow_database/airflow.db
export AIRFLOW_CONFIG=$(pwd)/.config/airflow.cfg
